

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    font-family: poppins;
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#004643;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#blob{
    background-color:rgb(50, 249, 0);
    height:100px;
    aspect-ratio:1;
    position:absolute;
    z-index: 3;
    border-radius:500px;
}


header {
    font-size:40px;
    font-style:italic;
    color:#fffffe;
    position:relative;
    margin-bottom:40px;
    border-top:2px solid rgba(255, 255, 255, 0.396);
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    letter-spacing: 35px;
    text-shadow: 3px 3px black;
}

#divOfTopList {
    width:300px;
    height:70px;
    background-color:#e16162;
    margin:20px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:Center;
}
#divOfTopList > p {
    font-size:24px;
}

#divOfTopList {
    position: relative; 
    left: 0; 
    animation: slide 10s infinite; 
    border-top-right-radius: 30px;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-100%); 
    }
    50% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }

  .mouth{
    display:flex;
    align-items: center;
    justify-content: center;
  }
section{
    height:60vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color:#e16162;
    border-radius:140px;
    margin-bottom:10px;
    position:relative;
    box-shadow: 0px 2px 2px 2px black;
}
.toothUpOne, .toothUpTwo, .toothUpThree, .toothUpFour, .toothUpFive {
    position:absolute;
    width:100px;
    height:100px;
    background-color:rgba(255, 255, 255, 0.715);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation-name:slideup;
    animation-duration:3s;
    top:150px;
    box-shadow: 3px 2px 2px 2px black;
}
.toothUpOne {
    left:15px;
}
.toothUpTwo {
    left:145px;
    
}
.toothUpThree {
    left:275px;
}
.toothUpFour {
    left:405px;
}
.toothUpFive {
    left:535px;
}

section > .toothDownOne, .toothDownTwo,.toothDownThree, .toothDownFour, .toothDownFive {
    height:100px;
    width:100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:rgba(255, 255, 255, 0.715);
    margin:15px;
    margin-bottom:100px;
    transition:1s;
    cursor:grab;
    box-shadow: 0px 3px 3px 3px black;
    animation: pumping 5s infinite;
}
section > .toothDownOne:hover, .toothDownTwo:hover,.toothDownThree:hover, .toothDownFour:hover, .toothDownFive:hover{
background-color:rgba(255, 255, 255, 0.871);
transition:1s;
}


@keyframes transparent {
    from {
     opacity:1;
    }
    to {
        opacity:0;
    }
  }



@keyframes slideup {
    from {
     top:270px;
    }
    50%{
        top:120px;
    }  
    to {
        top:150px;
    }
  }


#down{
    top:270px;
    transition:0.5s;
    background-color: rgb(0, 0, 0);
}

#sink{
    height:50px;
    
}

.text::before{
    content:"SOURCE: TRUST ME BRO";
    font-size:30px;
}
.text {
    display:flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    width:400px;
    height:15%;
    margin-left:15px;
    overflow:hidden;
    background-color:rgb(255, 254, 254);
    color:rgb(4, 0, 0);
    border-radius:15px;
    
}


.stressText{
font-size:20px;
animation-name:transparent;
animation-duration:6s;
}


.gameover{
    width:100%;
    height:100%;
    position: absolute;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-size: 30px;
    font-style:italic;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    letter-spacing:5px;
}

.gameover > button {
    background-color:rgb(43, 140, 191);
    width:100px;
    height:50px;
    margin:20px;
    font-size:17px;
    border-radius:10px;
    transition:1s;
}
.gameover > button:hover {
    background-color:rgb(22, 172, 189);
    cursor:pointer;
    transition:1s;
    width:110px;
    height:51px;
    color:rgba(245, 245, 245, 0.593);
}


.Start {
    position:absolute;
    z-index:3;
    width:100%;
    height:100%;
    background-color:black;
    color:White;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Start > h1, p, input, button {
margin:10px;
}

.Start > h1 {
    font-size:70px;
    letter-spacing:10px;
}

.Start > p {
    font-style:italic;
    font-size:18px;
    margin:30px;
    letter-spacing:2px;
}

.Start > button {
    font-style:italic;
    background-color:rgb(43, 140, 191);
    width:100px;
    height:50px;
    margin:20px;
    border-radius:10px;
    font-size:17px;
    transition:1s;
}
.Start > input {
    height:50px;
    width:200px;
    padding-left:5px;
    font-size:20px;
    
}

.Start > button:hover {
    color:white;
    background-color:rgb(22, 172, 189);
    cursor:pointer;
    transition:1s;
    width:110px;
    height:51px;
}


/*LABEL FOR INPUTS**/

/* iPads */
@media only screen and (min-device-width: 725px) and (max-device-width: 1024px) {

    header > h1{
        font-size:55px;
    }
    section{
        width:100%;
    }
  }
  
  /* iPhones */
  @media only screen and (max-device-width: 724px) {
    /* CSS styles for iPhones go here */

    header {
        font-size:20px;
    }
    header > h1 {
        letter-spacing: 10px;
        text-shadow: 3px 3px black;
    }
   
    .mouth {
        display:flex;
        justify-content: center;
    }
    
    section{
        width:50%;
    }
    .toothUpOne, .toothUpTwo, .toothUpThree, .toothUpFour, .toothUpFive {
        position:absolute;
        width:45px;
        height:50px;
        background-color:rgba(255, 255, 255, 0.715);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        animation-name:slideup;
        animation-duration:3s;
        top:100px;
        box-shadow: 3px 2px 2px 2px black;
    }

    .toothUpOne {
        left:13px;
    }
    .toothUpTwo {
        left:87px;
        
    }
    .toothUpThree {
        left:163px;
    }
    .toothUpFour {
        left:237px;
    }
    .toothUpFive {
        left:313px;
    }

    section > .toothDownOne, .toothDownTwo,.toothDownThree, .toothDownFour, .toothDownFive {
        height:50px;
        width:120px;
 
    }
    #sink{
        height:30px;
        
    }

    #down{
        top:340px;
        transition:0.5s;
        background-color: rgb(0, 0, 0);
    }
    .text {
        width:100%;
    }
  }
  

  @media screen and (max-height: 800px) {
    /* CSS rules for devices with a minimum width of 768px and a minimum height of 600px */

   #down{
    top:250px;
    transition:0.5s;
    background-color: rgb(0, 0, 0);
}
}

@media screen and (max-height: 600px) {
    /* CSS rules for devices with a minimum width of 768px and a minimum height of 600px */

   #down{
    top:190px;

}

}


@media screen and (min-width: 800px) and (max-height: 799px) {
    .toothUpOne, .toothUpTwo, .toothUpThree, .toothUpFour, .toothUpFive {
        top:75px;
    }
    #down{
        top:150px;
    }
  }