

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    font-family: poppins;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#004643;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#blob{
    background-color:rgb(50, 249, 0);
    height:100px;
    aspect-ratio:1;
    position:absolute;
    z-index: 3;
    border-radius:500px;
}


header {
    font-size:40px;
    font-style:italic;
    color:#fffffe;

    margin-bottom:40px;
    border-top:2px solid rgba(255, 255, 255, 0.396);
}
header > h1 {
    letter-spacing: 35px;
    text-shadow: 3px 3px black;
}


section{
    height:60vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color:#e16162;
    border-radius:140px;
    margin-bottom:10px;
    position:relative;
    box-shadow: 0px 2px 2px 2px black;
}
.toothUpOne, .toothUpTwo, .toothUpThree, .toothUpFour, .toothUpFive {
    position:absolute;
    width:100px;
    height:100px;
    background-color:rgba(255, 255, 255, 0.715);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation-name:slideup;
    animation-duration:3s;
    top:150px;
    box-shadow: 3px 2px 2px 2px black;
}
.toothUpOne {
    left:15px;
}
.toothUpTwo {
    left:145px;
    
}
.toothUpThree {
    left:275px;
}
.toothUpFour {
    left:405px;
}
.toothUpFive {
    left:535px;
}

section > .toothDownOne, .toothDownTwo,.toothDownThree, .toothDownFour, .toothDownFive {
    height:100px;
    width:100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:rgba(255, 255, 255, 0.715);
    margin:15px;
    margin-bottom:100px;
    transition:1s;
    cursor:grab;
    box-shadow: 0px 3px 3px 3px black;
    animation: pumping 5s infinite;
}
section > .toothDownOne:hover, .toothDownTwo:hover,.toothDownThree:hover, .toothDownFour:hover, .toothDownFive:hover{
background-color:rgba(255, 255, 255, 0.871);
transition:1s;
}


@keyframes transparent {
    from {
     opacity:1;
    }
    to {
        opacity:0;
    }
  }



@keyframes slideup {
    from {
     top:270px;
    }
    50%{
        top:120px;
    }  
    to {
        top:150px;
    }
  }


#down{
    top:240px;
    transition:0.5s;
    background-color: rgb(0, 0, 0);
}

#sink{
    height:50px;
    
}

.text::before{
    content:"SOURCE: TRUST ME BRO";
    font-size:30px;
}
.text {
    display:flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    width:400px;
    height:15%;
    margin-left:15px;
    overflow:hidden;
    background-color:rgb(255, 254, 254);
    color:rgb(4, 0, 0);
    border-radius:15px;
    
}


.stressText{
font-size:20px;
animation-name:transparent;
animation-duration:6s;
}


.gameover{
    width:100%;
    height:100%;
    position: absolute;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-size: 30px;
    font-style:italic;
    display:flex;
    flex-direction:column;
}

